/* STORE.HTML */
.book_main{
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 4.5vw;
}
.about_main{
  color: #84BC33;
}
.menu_main{
  color: #84BC33;
}
.event_main{
  color: #84BC33;
}
.shop_main{
  color: #84BC33;
}
.contact_main{
  font-weight: 600;
  color: #84BC33;
}
.contact_header{
  position: absolute;
  display: block;
  height: 5vw;
  top: 10vw;
  left: 7.5vw;
  padding: 1vw 18vw;
  /* line-height: 5vw; */
  border-top: 0.2vw solid #FFFFFF;
  border-bottom: 0.2vw solid #FFFFFF;
  text-align: center;
}
.contact_board{
  position: relative;
  width: 85vw;
  height: 36vw;
  top: 21vw;
  left: 7.5vw;
  background-color: #FFFFFF;
  border-radius: 2vw 2vw 0 0;
}
.map{
  position: absolute;
  top: 2.5vw;
  left: 11vw;
  display: inline-block;
  width: 28vw;
  height: 30vw;
  border: 0.3vw solid #84BC33;
  border-radius: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
}
.map > *{
  width: 3vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/tree.svg');
}
.tree_one{
  margin-left: 2vw;
  margin-top: 2vw;
}
.tree_two{
  margin-left: 6vw;
  margin-top: -3vw;
}
.tree_three{
  margin-left: 12vw;
  margin-top: -8vw;
}
.tree_four{
  margin-left: 18vw;
  margin-top: -3vw;
}
.tree_five{
  margin-left: 23vw;
  margin-top: -3vw;
}
.tree_six{
  margin-left: 4vw;
  margin-top: 1vw;
}
.tree_seven{
  margin-left: 9vw;
  margin-top: -6vw;
}
.tree_eight{
  margin-left: 19vw;
  margin-top: -3vw;
}
.tree_nine{
  margin-left: 23vw;
  margin-top: -4vw;
}
.tree_ten{
  margin-left: 1vw;
  margin-top: -2vw;
}
.tree_el{
  margin-left: 5vw;
  margin-top: -3vw;
}
.tree_tw{
  margin-left: 9vw;
  margin-top: -4vw;
}
.tree_thirteen{
  margin-left: 17vw;
  margin-top: -5vw;
}
.tree_fourteen{
  margin-left: 13vw;
  margin-top: 0vw;
}
.tree_fifteen{
  margin-left: 20vw;
  margin-top: -13vw;
}
.tree_sixteen{
  margin-left: 24vw;
  margin-top: -2vw;
}
.tree_seventeen{
  margin-left: 1vw;
  margin-top: -3vw;
}
.tree_eighteen{
  margin-left: 20vw;
  margin-top: -3vw;
}
.pin{
  width: 3vw;
  height: 6vw;
  margin-left: 25vw;
  margin-top: 13vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/pin.svg');
  animation: scale 1s ease infinite;
  animation-direction: alternate-reverse;
}

.info{
  position: absolute;
  top: 2.5vw;
  right: 11vw;
  display: inline-block;
  width: 28vw;
  height: 30vw;
  background-color:#84BC33;
  border: 0.3vw solid #84BC33;
  border-radius: 2vw;
}
.info p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  color: #FFFFFF;
}
.warn{
  color: #E53D30;
}
.contact_icon_one{
  width: 2.2vw;
  height: 2.2vw;
  margin-left: 3vw;
  margin-top: 3vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_icon_one.svg');
  z-index: 5;
}
.contact_icon_two{
  width: 2.1vw;
  height: 2.4vw;
  margin-left: 3vw;
  margin-top: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_icon_two.svg');
  z-index: 5;
}
.contact_icon_three{
  width: 1.7vw;
  height: 2.1vw;
  margin-left: 3.2vw;
  margin-top: 2vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_icon_three.svg');
  z-index: 5;
}
.contact_icon_two{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_icon_two.svg');
}
.contact_icon_three{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_icon_three.svg');
}
.mail{
  margin-left: 6.5vw;
  margin-top: -9.5vw;
}
.site{
  margin-left: 6.5vw;
  margin-top: 2.5vw;
}
.phone{
  margin-left: 6.5vw;
  margin-top: 2.5vw;
}
.warn{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1vw;
  color: #FFFFFF;
  margin-left: 2.5vw;
  margin-top: 7vw;
  line-height: 2vw;
  border: 0.2vw solid #FFFFFF;
  border-radius: 1vw;
  text-align: center;
  z-index: 3;
  width: 20vw;
  padding: 0.5vw 0;
}
.contact_dino{
  position: absolute;
  width: 23vw;
  height: 30vw;
  top: 6vw;
  right: -7vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/contact_dino.svg');
  z-index: 3;
}
@keyframes scale {
  0% {transform: scale(1);}
  100% {transform: scale(1.1);}
}
