/* CONTENT.HTML */
.book_main{
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 4.5vw;
}
.about_main{
  color: #84BC33;
}
.menu_main{
  font-weight: 600;
  color: #84BC33;
}
.event_main{
  color: #84BC33;
}
.shop_main{
  color: #84BC33;
}
.contact_main{
  color: #84BC33;
}
.menu_header{
  position: absolute;
  display: block;
  height: 5vw;
  top: 10vw;
  left: 7.5vw;
  padding: 1vw 8vw;
  /* line-height: 5vw; */
  border-top: 0.2vw solid #FFFFFF;
  border-bottom: 0.2vw solid #FFFFFF;
  text-align: center;
}
.menu_board{
  position: relative;
  width: 85vw;
  height: 39vw;
  top: 21vw;
  left: 7.5vw;
  background-color: #FFFFFF;
  border-radius: 2vw 2vw 0 0;
}
.cocktail_img{
  position: absolute;
  top: 2.5vw;
  left: 11vw;
  display: inline-block;
  width: 28vw;
  height: 30vw;
  border: 0.3vw solid #84BC33;
  border-radius: 2vw;
}
.cocktail{
  position: absolute;
  top: 0.5vw;
  left: 0vw;
  display: inline-block;
  width: 28vw;
  height: 30vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/cock_one.svg');
}
.cocktail_name{
  position: absolute;
  top: 2.5vw;
  right: 11vw;
  display: inline-block;
  width: 28vw;
  height: 30vw;
  background-color:#84BC33;
  border-radius: 2vw;
}
.names > p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 1.5vw;
  color: #FFFFFF;
  margin-left: 3vw;
  margin-top: 0.8vw;
  z-index: 3;
}
.names:first-child{
  margin-top: 1.3vw;
}
.prices > p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 1.5vw;
  color: #FFFFFF;
  margin-left: 3vw;
  margin-top: 0.8vw;
  z-index: 2;
}
.prices{
  margin-left: 18vw;
  margin-top: -27.5vw;
}
.menu_dino{
  position: absolute;
  bottom: -0.3vw;
  left: -1vw;
  width: 23vw;
  height: 30vw;
  background-image: url('../images/menu_dino.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}
.menu_dino_hand{
  position: absolute;
  bottom: 14vw;
  left: 15vw;
  width: 7vw;
  height: 6vw;
  background-image: url('../images/menu_dino_hand.svg');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  animation: wave 1s linear infinite;
  animation-direction: alternate-reverse;
}
/* .box {
  width: 100px;
  height: 100px;
  background: black;
  display: inline-block;
  position: relative;
  border: 1px solid white;
  cursor: url("https://cdn.custom-cursor.com/db/7648/32/meme-pop-cat-cursor.png"), auto;
} */
.names > p:active {
  cursor: url("../images/pointer.png"), auto;
}
.prices > p:active {
  cursor: url("../images/pointer.png"), auto;
}
@keyframes wave {
  0% {transform: rotate(0);}
  100% {transform: rotate(20deg);}
}
