.book_main{
  color: #E53D30;
  background-color: #FFFFFF;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 4.5vw;
  border: 0.3vw solid #E53D30;
}
.about_main{
  color: #84BC33;
}
.menu_main{
  color: #84BC33;
}
.event_main{
  color: #84BC33;
}
.shop_main{
  color: #84BC33;
}
.contact_main{
  color: #84BC33;
}
.book_header{
  position: absolute;
  display: block;
  height: 5vw;
  top: 10vw;
  left: 7.5vw;
  padding: 1vw 18vw;
  /* line-height: 5vw; */
  border-top: 0.2vw solid #FFFFFF;
  border-bottom: 0.2vw solid #FFFFFF;
  text-align: center;
}
.book_board{
  position: relative;
  width: 85vw;
  height: 39vw;
  top: 21vw;
  left: 7.5vw;
  background-color: #FFFFFF;
  border-radius: 2vw 2vw 0 0;
}
.book_dino{
  position: absolute;
  bottom: -1vw;
  right: 0vw;
  width: 22vw;
  height: 29vw;
  background-image: url('../images/book_dino.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.forms{
  position: relative;
  top: 4vw;
  left: 17.5vw;
  width: 50vw;
  height: 28vw;
  /* background-color: navy; */
}
.place_name, .place_surname, .place_table, .place_date, .place_mail, .place_phone{
  position: absolute;
  width: 19.5vw;
  height: 3.7vw;
  border: 0.3vw solid #84BC33;
  border-radius: 0.5vw;
  padding: 0 1vw;
  font-size: 2vw;
  border-color: #84BC33;
  color: #757575;
}
.place_name, .place_surname, .place_table, .place_date, .place_mail, .place_phone{
  font-family: 'Inter', sans-serif;
  font-size: 2vw;
}
.place_name{
  left: 2vw;
  top: 2vw;
}
.place_surname{
  right: 2vw;
  top: 2vw;
}
.place_mail{
  left: 2vw;
  top: 7vw;
}
.place_phone{
  right: 2vw;
  top: 7vw;
}
.place_table{
  left: 2vw;
  top: 12vw;
  width: 22vw;
  height: 4.2vw;
}
.place_date{
  right: 2vw;
  top: 12vw;
}
.send{
  position: absolute;
  text-align: center;
  left: 2vw;
  top: 20vw;
  width: 46vw;
  height: 3.7vw;
  background-color: #84BC33;
  border-radius: 0.5vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 2vw;
  color: #FFFFFF;
  padding-top: 0.5vw
}
