/* INDEX.HTML */
html{
  cursor: url('../images/cursor.png'), auto;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  background-color: #69235C;
}
/* менюбар */
.menubar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 10px 20px;
  z-index: 5;
}
.menubar a{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  margin-top: 1vw;
}
.booking{
  margin-left: 4vw;
}
.contact{
  margin-left: 66vw;
}
/* заголовки */
.about{
  position: absolute;
  display: inline-block;
  width: 33vw;
  height: 7.05vw;
  top: 11vw;
  left: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.about_fill{
  background-image: url('../images/about_fill.svg');
}
.about_frame{
  background-image: url('../images/about_frame.svg');
}
.menu{
  position: absolute;
  display: inline-block;
  width: 33.5vw;
  height: 7vw;
  top: 22vw;
  left: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.menu_fill{
  background-image: url('../images/menu_fill.svg');
}
.menu_frame{
  background-image: url('../images/menu_frame.svg');
}
.event{
  position: absolute;
  display: inline-block;
  width: 49.5vw;
  height: 9.4vw;
  top: 30vw;
  left: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.event_fill{
  background-image: url('../images/event_fill.svg');
}
.event_frame{
  background-image: url('../images/event_frame.svg');
}
.shop{
  position: absolute;
  display: inline-block;
  width: 51.5vw;
  height: 7vw;
  top: 43vw;
  left: 10vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
}
.shop_fill{
  background-image: url('../images/shop_fill.svg');
}
.shop_frame{
  background-image: url('../images/shop_frame.svg');
}
/* баннер */
.banner{
  position: absolute;
  display: inline-block;
  width: 25vw;
  height: 40vw;
  top:11vw;
  right: 8vw;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 4;
}
.hicocktails{
  background-image: url('../images/hicocktails.svg');
}
.hidino{
  background-image: url('../images/hidino.svg');
}
.hiposter{
  background-image: url('../images/hiposter.svg');
}
.hibag{
  background-image: url('../images/hibag.svg');
}
/* элементы */
.light_one{
  position: fixed;
  width: 91vw;
  height: 68vw;
  margin-left: 2vw;
  margin-top: 0vw;
  background-image: url('../images/light_one.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
}
.light_two{
  position: fixed;
  width: 80vw;
  height: 100vw;
  margin-left: -19vw;
  margin-top: 3vw;
  background-image: url('../images/light_two.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.light_three{
  position: fixed;
  width: 90vw;
  height: 100vw;
  margin-left: 16vw;
  margin-top: 0vw;
  background-image: url('../images/light_three.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  /* transform: scale(1.5); */
}
.leaves{
  position: fixed;
  width: 100vw;
  height: 30vw;
  margin-left: 0vw;
  margin-top: 35vw;
  background-image: url('../images/leaves.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ocean_ground{
  position: fixed;
  width: 32vw;
  height: 16vw;
  margin-left: 0vw;
  margin-top: 44vw;
  background-image: url('../images/ocean_ground.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ocean_plant{
  position: fixed;
  width: 14vw;
  height: 29vw;
  margin-left: 84vw;
  margin-top: 29vw;
  background-image: url('../images/ocean_plant.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ocean_st{
  position: fixed;
  width: 10vw;
  height: 9vw;
  margin-left: 27vw;
  margin-top: 47vw;
  background-image: url('../images/ocean_st.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ocean_sta{
  position: fixed;
  width: 12vw;
  height: 12vw;
  margin-left: 53vw;
  margin-top: 48vw;
  background-image: url('../images/ocean_sta.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.ocean_star{
  position: fixed;
  width: 10vw;
  height: 10vw;
  margin-left: 63vw;
  margin-top: 44vw;
  background-image: url('../images/ocean_star.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.cloud_one{
  position: fixed;
  width: 29vw;
  height: 12vw;
  margin-left: 5vw;
  margin-top: 46vw;
  background-image: url('../images/cloud_one.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.cloud_two{
  position: fixed;
  width: 24vw;
  height: 13vw;
  margin-left: 50vw;
  margin-top: 15vw;
  background-image: url('../images/cloud_two.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.cloud_three{
  position: fixed;
  width: 19vw;
  height: 11.5vw;
  margin-left: 78vw;
  margin-top: 44vw;
  background-image: url('../images/cloud_three.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.cover{
  background-color: #84BC33;
}
/* менюбар */
.nav{
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5vw;
  background-color: #FFFFFF;
  padding: 0.2vw 2vw;
  left: 0vw;
  z-index: 5;
}
.logo {
  height: 4.3vw;
  width: 3.1vw;
  margin-top: 0vw;
  margin-left: 0vw;
  margin-right: 5vw;
  background-image:url('../images/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.nav a{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 1.6vw;
}
h1 {
  font-size: 4vw;
  font-weight: 700;
  color: #FFFFFF;
  font-family: 'PPPangramSansRounded-Medium', sans-serif;
}
.none{
  display: none;
}
