/* для 834 */
@media screen and (min-width: 415px) and (max-width: 834px){
.nav{
  background: #84BC33;
}
.nav > a{
  color: #FFFFFF;
}
.logo{
  background-image: url('../images/logo_white.svg');
}
.board{
  height: 218vw;
}
.images{
  width: 84vw;
  height: 140vw;
  top: 47vw;
  left: 3vw;
}
.about_dino_blue{
  width: 31vw;
  height: 33vw;
  top: 12vw;
  left: 22vw;
  background-image: url('../images/about_dino_blue_834.svg');
}
.to_book, .to_video{
  left: 51vw;
}
.to_book{
  top: 31vw;
}
.to_video{
  top: 36vw;
}
.images>*{
  width: 41.7vw;
  height: 27.5vw;
}
.about_third{
  top: 281vw;
}
.bottom{
  top: 347vw;
}
}
/* для 414 */
@media only screen and (min-width: 390px) and (max-width: 414px){
/* шапка */
.nav{
  display: none;
}
.head{
  top: 14vw;
  position: absolute;
  display: flex;
  background-color: #84BC33;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  height: 5vw;
  padding: 0.2vw 2vw;
  left: 0vw;
  z-index: 5;
}
.aboutt{
  margin-left: -15vw;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.book_ip{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 3.5vw;
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: -12vw
}
.about_main{
  color: #FFFFFF;
}
.logo{
  margin-left: 2vw;
  background-image: url('../images/logo_white.svg');
}
.hamburger{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/hamburger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2vw;
}
.burger{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 62vw;
  background-color: #FFFFFF;
  z-index: 5;
}
.burger >*{
  text-align: center;
  margin: 2vw;
  display: block;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.close{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 14.5vw;
  margin-left: 91.5vw;
}
.book_main{
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 3vw;
}
.about_burger{
  color: #84BC33;
}
.menu_burger{
  color: #84BC33;
}
.event_burger{
  color: #84BC33;
}
.shop_burger{
  color: #84BC33;
}
.contact_burger{
  color: #84BC33;
}
/* элементы */
.about_first{
  top: 14vw;
}
.about_text{
  width: 49vw;
  font-size: 3vw;
  line-height: 3vw
}
.hi{
  top: 48vw;
}
.leaf{
  width: 70vw;
  top: 51vw;
}
.about_dino_gold{
  width: 32vw;
  height: 45vw;
  top: 30vw;
  left: 68vw;
}
.about_dino_red{
  top: 33vw;
  left: 54vw;
}
.about_dino_blue{
  width: 29vw;
  height: 32vw;
  top: 30vw;
  left: 23vw;
}
.board{
  height: 219vw;
  top: 20vw;
}
.images{
  width: 84vw;
  height: 174vw;
  top: 42vw;
  left: 3vw;
}
.images >*{
  width: 41.5vw;
  height: 28vw;
}
.about_third{
  height: 38vh;
  top: 301vw
}
.bottom{
  top: 369vw;
}
.to_book, .to_video{
  left: 51vw;
}
.to_book{
  top: 31vw;
}
.to_video{
  top: 36vw;
}
}
