/* для 1024 */
@media screen and (min-width: 834px) and (max-width: 1024px){
.notebook_board{
  height: 48vw;
  top: 28vw;
}
.notebook_header{
  top: 13vw;
}
.notebook_img{
  top: 7.5vw;
}
.notebook_info{
  top: 7.5vw;
}
.arrow{
  top: 14.5vw;
}
}
/* для 834 */
@media screen and (min-width: 415px) and (max-width: 834px){
.nav{
  background: #84BC33;
}
.nav > a{
  color: #FFFFFF;
}
.logo{
  background-image: url('../images/logo_white.svg');
}
.notebook_header{
  top: 15vw;
}
.notebook_board{
  top: 33vw;
  height: 111vw;
}
.notebook_img{
  width: 42vw;
  height: 37vw;
  top: 8vw;
  left: 21vw;
}
.notebook{
  width: 36vw;
  height: 28vw;
  top: 2.5vw;
  left:5vw;
}
.notebook_info{
  width: 42vw;
  height: 37vw;
  top: 60vw;
  left: 21vw;
}
.notebook_info > p{
  font-size: 3vw;
  height: 5vw;
  padding-top: 1vw;
}
.notebook_size{
  width: 33vw;
}
.notebook_count{
  width: 15vw;
}
.notebook_price{
  margin-top: -6.7vw;
  margin-left: 21vw;
  width: 15vw;
}
.add{
  width: 33vw;
}
.arrow{
  top: 16vw;
}
}
/* для 414 */
@media only screen and (min-width: 390px) and (max-width: 414px){
/* шапка */
.nav{
  display: none;
}
.head{
  top: 14vw;
  position: absolute;
  display: flex;
  background-color: #84BC33;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  height: 5vw;
  padding: 0.2vw 2vw;
  left: 0vw;
  z-index: 5;
}
.aboutt{
  margin-left: -15vw;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.book_ip{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 3.5vw;
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: -12vw
}
.about_main{
  color: #FFFFFF;
}
.logo{
  margin-left: 2vw;
  background-image: url('../images/logo_white.svg');
}
.hamburger{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/hamburger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2vw;
}
.burger{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 62vw;
  background-color: #FFFFFF;
  z-index: 5;
}
.burger >*{
  text-align: center;
  margin: 2vw;
  display: block;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.close{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 14.5vw;
  margin-left: 91.5vw;
}
.book_main{
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 3vw;
}
.about_burger{
  color: #84BC33;
}
.menu_burger{
  color: #84BC33;
}
.event_burger{
  color: #84BC33;
}
.shop_burger{
  color: #84BC33;
}
.contact_burger{
  color: #84BC33;
}
.notebook_header{
  top: 30vw;
  padding: 1vw 0vw 10vw 0vw;
}
h1{
  width: 85vw;
  font-size: 6vw;
  line-height: 6vw;
}
.notebook_board{
  top: 55vw;
  height: 162vw;
}
.notebook_img{
  width: 70vw;
  height: 57vw;
  top: 8vw;
  left: 7vw;
}
.notebook{
  width: 54vw;
  height: 43vw;
  top: 3.5vw;
  left: 10vw;
}
.notebook_info{
  width: 70vw;
  height: 65vw;
  top: 90vw;
  left: 7vw;
}
.notebook_info > p{
  font-size: 6vw;
  height: 11vw;
  border: 0.5vw solid #FFFFFF;
}
.notebook_size{
  width: 53vw;
  margin-top: 6vw;
  margin-left: 7vw;
}
.notebook_count{
  width: 23vw;
  margin-top: 2vw;
  margin-left: 7vw;
}
.notebook_price{
  margin-top: -12.8vw;
  margin-left: 37vw;
  width: 23vw;
}
.add{
  width: 53vw;
  margin-left: 7vw;
}
.arrow{
  top: 35.5vw;
}
}
