/* для 1024 */
@media screen and (min-width: 834px) and (max-width: 1024px){
.book_board{
  height: 48vw;
  top: 28vw;
}
.book_header{
  top: 13vw;
}
.place_name{
  top: 4vw;
}
.place_surname{
  top: 4vw;
}
.place_mail{
  top: 10vw;
}
.place_phone{
  top: 10vw;
}
.place_table{
  top: 16vw;
}
.place_date{
  top: 16vw;
}
.send{
  top: 30vw;
}
}
/* для 834 */
@media screen and (min-width: 415px) and (max-width: 834px){
.nav{
  background: #84BC33;
}
.nav > a{
  color: #FFFFFF;
}
.logo{
  background-image: url('../images/logo_white.svg');
}
.book_header{
  padding: 1vw 16vw;
  top: 15vw;
}
.book_board{
  top: 33vw;
  height: 111vw;
}
.book_main{
  color: #E53D30;
  background-color: #84BC33;
  border-radius: 1vw;
  padding: 1vw;
  border: 0.3vw solid #E53D30;
}
.place_date, .place_mail, .place_name, .place_phone, .place_table, .place_surname{
  width: 46vw;
  height: 6.5vw;
  border-radius: 1vw;
  font-size: 3vw;
}
.place_name{
  left: 0vw;
  top: 8vw;
}
.place_surname{
  left: 0vw;
  top: 18vw;
}
.place_mail{
  left: 0vw;
  top: 28vw;
}
.place_phone{
  left: 0vw;
  top: 38vw;
}
.place_table{
  left: 0vw;
  top: 48vw;
  width: 48.5vw;
}
.place_date{
  left: 0vw;
  top: 58vw;
}
.send{
  width: 37.5vw;
  height: 7vw;
  border-radius: 3vw;
  left: 0vw;
  top: 80vw;
  font-size: 4vw;
  padding-top: 3vw;
}
.book_dino{
  width: 33vw;
  height: 43vw;
  right: 0vw;
  bottom: -1vw;
}
}

/* для 414 */
@media only screen and (min-width: 390px) and (max-width: 414px){
/* шапка */
.nav{
  display: none;
}
.head{
  top: 14vw;
  position: absolute;
  display: flex;
  background-color: #84BC33;
  justify-content: space-between;
  align-items: center;
  width: 96vw;
  height: 5vw;
  padding: 0.2vw 2vw;
  left: 0vw;
  z-index: 5;
}
.aboutt{
  margin-left: -15vw;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.book_ip{
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 3.5vw;
  color: #E53D30;
  background-color: #84BC33;
  border: 0.3vw solid #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: -32vw
}
.about_main{
  color: #FFFFFF;
}
.logo{
  margin-left: 2vw;
  background-image: url('../images/logo_white.svg');
}
.hamburger{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/hamburger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2vw;
}
.burger{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 62vw;
  background-color: #FFFFFF;
  z-index: 5;
}
.burger >*{
  text-align: center;
  margin: 2vw;
  display: block;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 4vw;
  color: #FFFFFF;
}
.close{
  width: 4.3vw;
  height: 4.3vw;
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 14.5vw;
  margin-left: 91.5vw;
}
.book_main{
  color: #FFFFFF;
  background-color: #E53D30;
  border-radius: 1vw;
  padding: 1vw;
  margin-right: 3vw;
}
.about_burger{
  color: #84BC33;
}
.menu_burger{
  color: #84BC33;
}
.event_burger{
  color: #84BC33;
}
.shop_burger{
  color: #84BC33;
}
.contact_burger{
  color: #84BC33;
}
.book_header{
  top: 30vw;
  padding: 1vw 0vw 10vw 0vw;
}
h1{
  width: 85vw;
  font-size: 6vw;
  line-height: 6vw;
}
.book_board{
  top: 55vw;
  height: 162vw;
}
.book_dino{
  width: 37vw;
  height: 49vw;
  bottom: -1.3vw;
  left: 63vw;
}
.place_date, .place_mail, .place_name, .place_phone, .place_table, .place_surname{
  width: 70vw;
  height: 13vw;
  border-radius: 3vw;
  font-size: 4vw;
}
.place_name{
  left: -11vw;
}
.place_surname{
  left: -11vw;
  top: 17vw;
}
.place_mail{
  left: -11vw;
  top: 34vw;
}
.place_phone{
  left: -11vw;
  top: 51vw;
}
.place_table{
  left: -11vw;
  top: 68vw;
  width: 72.5vw;
}
.place_date{
  left: -11vw;
  top: 86vw;
}
.send{
  width: 45vw;
  height: 10vw;
  border-radius: 3vw;
  left: -11vw;
  top: 120vw;
  font-size: 4vw;
  padding-top: 3vw;
}
}
}
